<!doctype html>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Seamless docker registry</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Seamless Docker Registry</a>
    </li>
  </ul>
  </nav>

<br>

<div class="container">
  <!-- Content here -->
  <div class="alert alert-secondary" role="alert">
   Built and maintained by: Infrastructure Team
  </div>
</div>

<div class="container">
	<br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Image Name</th>
        <th>Available tags</th>
      </tr>
    </thead>
    <tbody>
      {% for image_name, tag_list in repo %}
      <tr>
        <td>{{ image_name }}</td>
        <td>{{ tag_list }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  </body>
</html>
